<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <ul>
      <% for (let i = 0; i < posts.length; i++) { %>
      <li>
        <h3><%= posts[i].name %></h3>
        <p><%= posts[i].description %></p>
      </li>
      <% } %>
    </ul>
  </div>
</div>
<%- include('partials/footer') -%>
